

html,
body {
  height: 100%;
  background-color: saddlebrown;
}

body {
  
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, 0.5);
  
}
.table-striped{
  color: #fff;
}
tr.even {
    background-color: saddlebrown!important;
}
thead {
    background-color: lightslategray!important;
}
.sign{
  color: red;
}
.up{
  color: #fff;
}
.flash {
  padding: 15px 20px;
  border: 1px solid;
  border-radius: 3px;
}
.flash-success {
  background-color: #d4edda;
  border-color: #c3e6cb;
  color: #155724;
}

.error1{
  background-color: chocolate;
}
/*
 * Header
 */
 .cover-container {
  max-width: 72em;
}

.nav-masthead .nav-link {
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

  .nav-masthead {
    float: right;
  }

.error {
        color: #ff0000;
    }
/*
 * Cover
 */
.card1{
  background-color: #5d5390;
}

/*
 * Footer
 */

