<%- include('../template/head')-%>
<html>
<link href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" rel="stylesheet">
<body class="text-center">
<div class="alert-danger", role="alert", id="error-group", style="display: none"></div>
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
 <%- include('../template/nav')-%></br></br></br></br>
 
     </div> 

    </body>
</html>