<%- include('../template/head')-%>
<html>
<link href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" rel="stylesheet">
<body class="text-center">
<div class="alert-danger", role="alert", id="error-group", style="display: none"></div>
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <%- include('../template/nav')-%>
      </br></br></br>
      <h5 id="update1" style="color: red;"> </h5></br>
      <div class="row add-form" >
          <div class="col-6">
            <div class="card1">
              <div class="card-body">

                  <form id="formadd1" class="mt-2" >
                     <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group">

                            <label for="pwd" class="label">Product Name</label>
                            <input type="text"  name="search" id="search" class="form-control search">
                                        
                          </div>
                        </div>
                      </div>      
                </form>

              </div> 
            </div>
          </div>
        </div></br></br>    
        
<table class="display responsive nowrap" style="width:100%" id="example" >
   <thead>
      <tr >
          <th>Image</th>
          <th>Product Name</th>
          <th>Amount</th>
          <th></th>
     </tr>
    </thead>
    <tbody>

    </tbody>
  </table>
  
  </div> </br></br>

    </body>
</html>
<script src="https://code.jquery.com/jquery-1.11.3.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script type="text/javascript">
  $(document).ready(function(){
    $("#search").on('input propertychange paste',function(){
        var data={
        productname:$("#search").val()         
         };
    
      
    $.ajax({
      type:'POST',
      dataType:'json',
      url:"http://localhost:3000/demo",
      data:JSON.stringify(data),
      contentType:"application/json",
      success: function(res) {
        console.log(res);
        var result;
        result=res.resMsg;
        console.log('re:',result);
          for(var i=0;i<result.length;i++){
          var markup = "<tr><td><img src="+"/image/"+result[i].image+"></img></td><td>"+result[i].productname+"</td><td>"+result[i].amount+"</td></tr>";
        $("table tbody").append(markup);
        
      }
    
    }
    });
   return false;
    });
});
</script>